.ibfr { float: right; display: inline-block; }
.mobile { display: none !important; }

@media screen and (max-width: 600px) {
	.menublock, .desktop, .ibfr { display: none; }
	.contentblock { width: 90% !important }
	.wideronmobile { width: 90% !important; position: initial !important; }
    .mobile { display: block !important; }
    .headerbar img { margin-left: 2em; }
    .drawer-hamburger { margin-top: 1em; }
    .drawer-nav { z-index: 3 !important; }
    .thumbshere { line-height: 1.85em; }
    .sitename { padding-left: 2.35em; }
}