html, body { height: 100%; }
body{ margin: 0px; padding: 0px; font-family: Tahoma; color: #dcdcdc; background-color: #4d4d4d;}
img { border: 0px; }
.containerblocks{ height: 100%; width: 100%;}

a:link { color: #99ccff; text-decoration: none; }
a:hover { color: #99ccff; text-decoration: underline; }
a:active { color: #99ccff; text-decoration: none; }
a:visited { color: #99ccff; text-decoration: none; }

.headerbar{
width: 100%; max-width: 100%;
height: 87px;
background-image: url('graphics/headerbar.png');  
}

.sitename{
  padding-top: 1em; padding-left: 1em; 
  display: inline-block; vertical-align: middle; height: 100%; 
  font-size: 1.85em; font-weight: normal;
}

.middlebar{
width: 100%; max-width: 100%;
display: inline-flex; /* flex also works */
min-height: 82%; overflow: auto;
/* background-color: #0066CC; */
}

.footerbar{
clear: both;
width: 100%; max-width: 100%;
height: 35px;
background-image: url('graphics/footerbar.png');
/* position: absolute; bottom: 0px; */
}

.menublock{
width: 218px; min-height: 100%;
background-image: url('graphics/menublock.png');
float: left;
/* position: relative; right: 0px; */
}

@media screen and (max-width: 1149px) {
    .contentblock {
    padding: 12px; width: 60%; float: left;
    /* background-color: #99ccff; */ background-color: #4d4d4d;
    }
}


@media screen and (min-width: 1150px) {
    .contentblock {
    padding: 12px; width: 75%; float: left;
    /* background-color: #99ccff; */ background-color: #4d4d4d;
    }
}

@media screen and (min-width: 1250px) {
    .contentblock {
    padding: 12px; width: 80%; float: left;
    /* background-color: #0066cc; */ background-color: #4d4d4d;
    }
}

.thumbshere { position: relative; left: 16px; margin-right: 76px; letter-spacing: 0.01em; line-height: 1.3em;}
.breadcrumbshere { position: relative; bottom: 8px; right: 12px; }
.menuhere { position: relative; top: 16px; left: 12px; }

.thumblisting{
  float: left; 
  background-color: #494949;
  padding: 16px 8px 8px 8px;
  display: inline-block;
  margin: 12px;
  text-align: center;
  color: #dcdcdc;
  min-width: 240px; min-height: 248px;
}

.basket{
  padding: 8px;
  background-color: #595959;
  width: 200px;
  margin-left: auto; margin-right: auto;
  margin-top: 32px;
  color: #dcdcdc;
}

.basket:hover{ background-color: #0066cc; cursor: pointer;}

.nobasket{
  padding: 8px;
  border-top: 3px solid #595959;
  width: 200px;
  margin-left: auto; margin-right: auto;
  margin-top: 32px;
  color: #dcdcdc;
}

a.nostyle:link { color: #dcdcdc !important; text-decoration: none; }
a.nostyle:hover { color: #dcdcdc !important; text-decoration: underline; }
a.nostyle:active { color: #dcdcdc !important; text-decoration: none; }
a.nostyle:visited { color: #dcdcdc !important; text-decoration: none; }

.notice{
  text-align: center;
  color: #3C3C3C;
  font-weight: bold;
  background-color: #BABABA;
  width: 97%;
  padding: 8px;
  border-top: solid #3C3C3C 8px;
  margin-top: 32px;
  clear: both;
}

.rednotice{
  text-align: center;
  color: #3C3C3C;
  font-weight: bold;
  background-color: #DD9898;
  width: 97%;
  padding: 8px;
  border-top: solid #3C3C3C 8px;
  margin-top: 32px;
  clear: both;
}

.ambernotice{
  text-align: center;
  color: #3C3C3C;
  font-weight: bold;
  background-color: #DDC498;
  width: 97%;
  padding: 8px;
  border-top: solid #3C3C3C 8px;
  margin-top: 32px;
  clear: both;
}

.greennotice{
  text-align: center;
  color: #3C3C3C;
  font-weight: bold;
  background-color: #98DD98;
  width: 97%;
  padding: 8px;
  border-top: solid #3C3C3C 8px;
  margin-top: 32px;
  clear: both;
}

.thumblisting img { margin-bottom: 8px; max-width: 200px; max-height: 200px;}

font.headline{
  font-family: FrugalSansRegular, Verdana, Georgia;
  /* background-color: #fff; */
  color: #A4341D;
  font-style: italic;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.2em;
  font-size: 2.5em;
  }

h1, font.shoulderline{
  font-family: FrugalSansRegular, Verdana, Georgia;
  /* background-color: #fff; */
  /* color: #0066cc; */
  font-style: italic;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.2em;
  font-size: 1.8em;
}

/***********
    Breadcrumbs
    http://css-tricks.com/triangle-breadcrumbs/
*/
.breadcrumb { 
  list-style: none; 
  overflow: hidden; 
  font-size: 0.8em;
}
.breadcrumb li { 
  float: left; 
}
.breadcrumb li a {
  color: #dcdcdc;
  text-decoration: none; 
  padding: 10px 0 10px 45px;
  background: #323232;                   /* fallback color */
  background: hsla(0,0%,20%,1);
  position: relative; 
  display: block;
  float: left;
}
.breadcrumb li a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           
    /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(0,0%,20%,1);
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
}       
.breadcrumb li a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #686868;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}       
.breadcrumb li:first-child a {
  padding-left: 10px;
}
.breadcrumb li:nth-child(2) a       { background:        hsla(0,0%,25%,1); }
.breadcrumb li:nth-child(2) a:after { border-left-color: hsla(0,0%,25%,1); }
.breadcrumb li:nth-child(3) a       { background:        hsla(0,0%,35%,1); }
.breadcrumb li:nth-child(3) a:after { border-left-color: hsla(0,0%,35%,1); }
.breadcrumb li:nth-child(4) a       { background:        hsla(0,0%,45%,1); }
.breadcrumb li:nth-child(4) a:after { border-left-color: hsla(0,0%,45%,1); }
.breadcrumb li:nth-child(5) a       { background:        hsla(0,0%,55%,1); color: #3c3c3c; }
.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(0,0%,55%,1); }

.breadcrumb li:last-child a {
  /* background: transparent !important; */
  /* text-decoration: underline; */
  /* color: black; */
  pointer-events: none;
  cursor: default;
}

.breadcrumb li:last-child a:after {
   /* border: transparent !important;  */
}
.breadcrumb li a:hover { background: hsla(210,100%,40%,1); }
.breadcrumb li a:hover:after { border-left-color: hsla(210,100%,40%,1) !important; }

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
#ddblueblockmenu{
border: 0px solid black;
border-bottom-width: 0;
width: 185px;
font-size: 0.8em;
}

#ddblueblockmenu ul{
margin: 0;
padding: 0px;
list-style-type: none;
}

#ddblueblockmenu li a{
display: block;
padding: 6px 0px;
padding-left: 9px;
width: 169px; /*185px minus all left/right paddings and margins*/
text-decoration: none;
color: #dcdcdc;
background-color: #595959;
border-bottom: 0px solid #4d4d4d;
border-left: 0px solid #484848;
}

* html #ddblueblockmenu li a{ /*IE only */
width: 187px; /*IE 5*/
width: 169px; /*185px minus all left/right paddings and margins*/
}

#ddblueblockmenu li a:hover {
background-color: #484848;
border-left-color: #484848;
}

#ddblueblockmenu li .active {
background-color: #484848;
border-left-color: #484848;
cursor: default;
}

#ddblueblockmenu div.menutitle{
color: #dcdcdc  ;
border-bottom: 3px solid #4d4d4d;
padding: 1px 0;
padding-left: 5px;
/* background-color: #3c3c3c; */ padding-top: 12px;
font: bold 90%;
}

/* ----------------- forms -----------------  */

.bigbutton { 
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 background-color: #cccccc; 
 color: #666666; 
 margin-right: 6px; 
 border: 3px ridge #000000;
}

.bigtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
 width: 250px;
}

.mediumbutton { 
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 background-color: #cccccc; 
 color: #666666; 
 margin-right: 6px; 
 border: 3px ridge #000000;
}

.mediumtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

.mediumblock {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 
 background-color: #CCCCCC;
 border: 1px solid #666666;

width: 75px; color: #000000;
margin-left: auto; margin-right: auto;
}

.editable {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}


.minitext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 12px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

.minitextBOLD {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 12px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
 font-weight: bold;
}

.minibutton { 
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 12px; 
 background-color: #cccccc; 
 color: #666666; 
 margin-right: 6px; 
 border: 3px groove #000000;
}


select {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

input, input[type='text'], input[type='password'] {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

button, button[type='submit']{
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px dashed #666666;
}

/* ----------------- tables -----------------  */
th {
  padding: 8px;
  background-color: #3C3C3C;
  margin: 8px;
  text-align: left;
}

.totals{
    background-color: #808080;
    color: #242424;
    font-weight: bold;
}

td {
  padding: 8px;
  margin: 8px;
  text-align: left;
  vertical-align: middle;
}